.button a {
	text-decoration: none;
	color: white;
	font-size: 16px;
	line-height: 30px;
	font-weight: 700;
	background: #07b569;
	display: inline-block;
	padding: 8px 31px;
}

.button a:hover, a:focus {
	background: #069c5b;
}

.button a:focus {
	outline: none;
}